.bg_user{
    position: relative;
    // bottom: 730px;
}

.bt-bg{
    position: absolute;
    right: 60px;
    bottom: 15px;
} 
.bt-bg1{
    position: absolute;
    // right: 40px;
    // bottom: 15px;
    left: 1100px;
    top: 340px;
}
